<h1>Categorieën</h1>

<div ng-show="isLoaded">
    <p>
        Onderstaand vindt je categorieën die je kan gebruiken bij het indelen van je financieën.
    </p>

    <ul ng-repeat="category in categories" class="list-unstyled">
        <li>
            <div class="pull-right">
                <a class="btn btn-default btn-sm" ng-href="/manage/category/edit/{{category.id}}" tooltip="Bewerken">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>

                <span class="inline-block" tooltip="{{category.canBeDeleted ? 'hh' : 'Deze categorie is in gebruik en kan daarom niet verwijderd worden.'}}">
                    <a class="btn btn-danger btn-sm"
                       ng-disabled="!category.canBeDeleted"
                       ng-click="deleteCategory(category)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </span>
            </div>

            <strong>
                <a href="#"
                   ng-href="/manage/category/edit/{{category.id}}">{{category.name}}</a>
            </strong> <br />

            <small>
                {{category.description}}
            </small>
        </li>
    </ul>
    
    <p>
        <a href="/manage/category/add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nieuwe categorie</a>
    </p>
</div>

<div ng-hide="isLoaded" ng-include="'/Angular/Widgets/Loader.html'"></div>