<h1>
    Financiën
    <small>{{ date | moment: 'MMMM YYYY'}}</small>
</h1>

<div ng-if="isLoaded">
    <small>
        Aangemaakt: {{ sheet.createTimestamp | moment: 'DD MMMM [om] HH:mm'}} |
        Laatst bijgewerkt: {{ sheet.updateTimestamp | moment: [ 'fromNow' ]}}
    </small>
    
    <form name="sheetForm" novalidate>
        <div class="table-responsive">
            <table class="table table-condensed">
                <!-- Header -->
                <thead>
                    <tr>
                        <th>
                            Bron / reden
                        </th>
                        <th>
                            Categorie
                        </th>

                        <th>
                            Betaalrekening
                        </th>

                        <th>
                            Spaarrekening
                        </th>

                        <th>
                            &nbsp; <!-- Column for action buttons-->
                        </th>
                    </tr>

                    <tr id="sheet-offset">
                        <td>Startbedrag</td>
                        <td>
                            <a href="#"
                               ng-href="/sheet/{{previousDate.year()}}/{{previousDate.month()+1}}">{{ previousDate | moment: 'MMMM YYYY'}}</a>
                        </td>
                        <td>
                            {{ sheet.offset.bankAccountOffset | currency}}
                        </td>
                        <td>
                            {{ sheet.offset.savingsAccountOffset | currency}}
                        </td>
                    </tr>
                </thead>

                <!-- Body -->
                <tbody ng-repeat="entry in sheet.entries">
                    <tr class="row-middle"
                        ng-show="entry.editMode"
                        ng-form="entryForm"
                        ng-class="{ 'saving': entry.isBusy }">
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text"
                                       placeholder="(winkel, vaste lasten, etc)"
                                       class="form-control input-sm" ng-model="entry.source"
                                       required maxlength="250" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm"
                                            tooltip="Extra notities of opmerkingen bewerken"
                                            tooltip-append-to-body="true"
                                            ng-click="editRemarks(entry)">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </button>
                                </span>
                            </div>
                        </td>

                        <td>
                            <select ng-options="category.name for category in categories"
                                    ng-model="entry.category"
                                    class="form-control input-sm"
                                    required>
                                <option value="">-- maak een keuze --</option>
                            </select>
                        </td>

                        <td>
                            <div ng-show="entry.account === AccountType.BankAccount">
                                <div class="input-group input-group-sm" ng-class="{ 'negative': entry.delta < 0 }">
                                    <span class="input-group-addon">€</span>
                                    <input type="number" class="form-control input-sm" placeholder="(voer bedrag in, met punten)"
                                           ng-model="entry.delta" 
                                           required maxlength="10" step="0.01" />
                                </div>
                            </div>
                            <div ng-hide="entry.account === AccountType.BankAccount">
                                <button class="btn btn-link"
                                        ng-click="entry.account = AccountType.BankAccount">
                                    Bankrekening?
                                </button>
                            </div>
                        </td>

                        <td>
                            <div ng-show="entry.account === AccountType.SavingsAccount">
                                <div class="input-group input-group-sm" ng-class="{ 'negative': entry.delta < 0 }">
                                    <span class="input-group-addon">€</span>
                                    <input type="number" class="form-control" placeholder="(voer bedrag in, met punten)"
                                           ng-model="entry.delta" required maxlength="10" step="0.01"/>
                                </div>
                            </div>
                            <div ng-hide="entry.account === AccountType.SavingsAccount">
                                <button class="btn btn-link"
                                        ng-click="entry.account = AccountType.SavingsAccount">
                                    Spaarrekening?
                                </button>
                            </div>
                        </td>

                        <td style="width: 6em">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-default" ng-click="saveEntry(entry)" ng-disabled="entryForm.$invalid">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                </button>
                                <button class="btn btn-danger" ng-click="deleteEntry(entry)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </button>
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                </button>
                            </div>
                        </td>
                    </tr>

                    <tr class="row-middle"
                        ng-hide="entry.editMode"
                        ng-class="{ 'saving': entry.isBusy }">
                        <td>
                            {{ entry.source }}

                            <button class="pull-right btn btn-link"
                                    tooltip="Extra notities of opmerkingen bekijken"
                                    ng-show="entry.remark"
                                    ng-click="editRemarks(entry)">
                                <span class="glyphicon glyphicon-th"></span>
                            </button>
                        </td>

                        <td>
                            {{ entry.category.name }}
                        </td>

                        <td>
                            <div ng-show="entry.account === AccountType.BankAccount">
                                <span ng-class="{ 'negative': entry.delta < 0 }">{{ entry.delta | currency }}</span>
                            </div>
                        </td>

                        <td>
                            <div ng-show="entry.account === AccountType.SavingsAccount">
                                <span ng-class="{ 'negative': entry.delta < 0 }">{{ entry.delta | currency }}</span>
                            </div>
                        </td>

                        <td style="width: 9.5em;">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-default" ng-click="entry.editMode = true" ng-disabled="entry.isBusy">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button class="btn btn-danger" ng-click="deleteEntry(entry)" ng-disabled="entry.isBusy">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="mutateSortOrder(entry, SortOrderMutation.Decrease)">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="mutateSortOrder(entry, SortOrderMutation.Increase)">
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <!-- Footer -->
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <a href="#"
                               ng-href="/sheet/{{date.year()}}/{{date.month()+1}}/stats">Rapportage</a>
                        </td>

                        <td>
                            <span ng-class="{ 'negative': sheet.totalBank() < 0 }">{{ sheet.totalBank() | currency }}</span>
                        </td>

                        <td>
                            <span ng-class="{ 'negative': sheet.totalSavings() < 0 }">{{ sheet.totalSavings() | currency }}</span>
                        </td>

                        <td>
                            <button class="btn btn-primary btn-sm" style="width: 100%" ng-click="addEntry()">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                
                                Toevoegen
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>

<div ng-hide="isLoaded" ng-include="'/Angular/Widgets/Loader.html'"></div>

<script type="text/ng-template" id="/Angular/Widgets/Sheet-EditRemarks.html">
    <div class="modal-header">
        <h3 class="modal-title">Opmerkingen bewerken</h3>
    </div>
    <div class="modal-body">
        <p ng-hide="entry.editMode" class="preserve-whitespace">{{ (entry.remark || 'Geen opmerkingen ingevuld.') }}</p>
        <textarea class="form-control"
                  ng-show="entry.editMode"
                  ng-model="entry.remark"
                  rows="4"
                  placeholder="(eventuele extra opmerkingen, notities, etc)"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="saveChanges()">OK</button>
        <button class="btn btn-link" ng-click="cancel()">Annuleren</button>
    </div>
</script>
