@using System.Threading.Tasks
@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment HostingEnvironment

<div ng-include="'/Angular/Widgets/Menu.html'" ng-show="isMenuVisible"></div>

<div class="container" ng-view></div>

<span style="color:#FFF" id="scrollBottom">&nbsp;</span>

<script src="@UrlGenerator.GenerateUrl("/build/libscripts.js")"></script>
<script src="@UrlGenerator.GenerateUrl("/build/appscripts.js")"></script>
<script>FinancialApp.Program.init();</script>

<noscript>
    <div class="alert alert-danger">
        <strong>Sorry!</strong> Om deze applicatie te gebruiken heb je javascript benodigd. Dit heb je niet aan staan.
    </div>
</noscript>

<div ng-include="'/Angular/ConnectionFailure.html'"></div>