@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="nl"
      ng-app="main"
      ng-strict-di="true"
      manifest="/application.appcache"
      ng-controller="MasterController">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Financial App</title>

    <base href="/">

    @Styles.Render("~/bundles/style-lib")
    @Styles.Render("~/bundles/style-app")
</head>
<body ng-class="{ 'anonymous': !isAuthenticated, 'authenticated': isAuthenticated }">
    <div ng-include="'/Angular/Widgets/Menu.html'" ng-show="isMenuVisible"></div>

    <div class="container" ng-view></div>

    @Scripts.Render("~/bundles/script-lib")
    @Scripts.Render("~/bundles/script-app")

    <script>FinancialApp.Program.init();</script>

    <noscript>
        <p>
            Sorry, om deze applicatie te gebruiken heb je javascript benodigd. Dit heb je niet aan staan.
        </p>
    </noscript>
</body>
</html>
