<!DOCTYPE html>
<html lang="en" ng-app="main">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Financial App</title>

        <base href="/">

        @Styles.Render("~/bundles/style-lib")
        @Styles.Render("~/bundles/style-app")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Financial App</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Dashboard</a></li>
                        <li><a href="/now">Huidige maand</a></li>
                        <li><a href="/archive">Archief</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container" ng-view></div>

        @Scripts.Render("~/bundles/script-lib")
        @Scripts.Render("~/bundles/script-app")

        <script>FinancialApp.Program.init();</script>
    </body>
</html>
