@using Microsoft.AspNetCore.Hosting
@using Newtonsoft.Json
@inject IHostingEnvironment HostingEnvironment

<!DOCTYPE html>
<html lang="nl"
      data-app-version="@ViewBag.AppVersion">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Financial App</title>

        <base href="/">

        @{
            await Html.RenderPartialAsync("_msapplication");
        }

        <link href="favicon.ico" rel="favicon"/>
        <link rel="apple-touch-icon" fa-href="/images/tiles/apple-tile.png"/>

        <link href="/build/app.css" rel="stylesheet" asp-append-version="true" fa-check-exists="true"/>
        
        <environment include="Development">
            <script>var DEBUG = true; window.DEBUG = DEBUG;</script>
        </environment>
        
        @Html.Raw(JavaScriptSnippet.FullScript)
    </head>
    <body data-bind="css: { 'anonymous': !context.authentication.isAuthenticated(), 'authenticated': context.authentication.isAuthenticated }">
        <loading-bar></loading-bar>

        <top-menu></top-menu>

        <page-container class="container">
            <h1 class="navbar-brand">Financial App</h1>

            <p>
                We zijn bezig met de benodigde bestanden voor de applicatie te downloaden.
            </p>

            <div class="initial-download-indicator">
                <span class="fas fa-server" aria-hidden="true"></span>

                <span class="fas fa-file-code" aria-hidden="true"></span>

                <span class="fas fa-mobile-alt" aria-hidden="true"></span>
            </div>

            <p>
                Dit hoeft maar één keer te gebeuren, maar het kan even duren...
            </p>
        </page-container>

        <span style="color:#FFF" id="scrollBottom">&nbsp;</span>

        <noscript>
            <div class="alert alert-danger">
                <strong>Sorry!</strong> Om deze applicatie te gebruiken heb je javascript benodigd. Dit heb je niet aan staan.
            </div>
        </noscript>

        <environment include="Development">
            <script>
                (function(doc) {
                    if (typeof EventSource === 'undefined') {
                        var polyfill = doc.createElement('script');
                        polyfill.src = '/js/eventsource-polyfill.js?v=@ViewBag.AppVersion';
                        doc.head.appendChild(polyfill);
                    }
                })(document);
            </script>
        </environment>
        <script src="/build/lib.js" asp-append-version="true" defer></script>
        <script src="/build/app.js" asp-append-version="true" defer></script>
    </body>
</html>