@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment HostingEnvironment
    
<loading-bar></loading-bar>

<top-menu></top-menu>

<page-container class="container"></page-container>

<span style="color:#FFF" id="scrollBottom">&nbsp;</span>

<noscript>
    <div class="alert alert-danger">
        <strong>Sorry!</strong> Om deze applicatie te gebruiken heb je javascript benodigd. Dit heb je niet aan staan.
    </div>
</noscript>

<script type="text/html" id="pageLoader">
    Loading page
</script>

<div ng-include="'/Angular/ConnectionFailure.html'"></div>

<script src="/build/lib.js" asp-append-version="true"></script>
<script src="/build/app.js" asp-append-version="true"></script>
