.navbar {
    border-top: $navbar-top-border-width solid darken($accent-color, 15%);
}

// Fix logged in message display on small screens
@media (max-width: map-get($container-max-widths, 'xs')) {
    .navbar .navbar-text {
        text-align: right;
        padding-right: 1em;
    }
}

.navbar-brand,
.application-header {
    background: url(../images/icons/application.svg) 10px center no-repeat;
    background-size: contain;
    padding-left: 70px;
}

.nav-link-hidden-label {
    .nav-link-label {
        display: none;

        @include media-breakpoint-down(md) {
            display: inline;
        }
    }

    &:hover {
        .nav-link-label {
            display: inline;
        }
    }
}

$nav-link-active-border-width: 2px;
$nav-link-active-border-width-mobile: 4px;

.nav-link,
.nav-item {
    margin-bottom: (-1 * $nav-link-active-border-width);
    border-bottom: $nav-link-active-border-width solid transparent;

    @include media-breakpoint-down(md) {
        margin-right: (-1 * $nav-link-active-border-width-mobile);
        border-right: $nav-link-active-border-width-mobile solid transparent;
    }

    &,
    > .nav-link {
        transition: all 500ms ease-in-out;
    }

    &.active {
        border-bottom: $nav-link-active-border-width solid $accent-color;

        @include media-breakpoint-down(md) {
            border-bottom: 0;
            border-right: $nav-link-active-border-width-mobile solid $accent-color;
        }
    }
}

.navbar {
    &__logged-in-text {
        margin-right: 4em;
        font-size: 90%;
    }

    &__context-indicator {
        font-size: 90%;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}
