.sheet-table {
    &__row {
        td {
            vertical-align: middle;
        }

        transition: opacity 500ms linear;

        &--is-saving {
            opacity: 0.6;
            color: #909090;
            color: rgba(000, 000, 000, 0.5);
            animation: saving-row 500ms infinite;
            cursor: wait;
        }

        &--is-transient {
            opacity: 0.8;
            animation: transient-row 700ms linear infinite;
        }

        &--is-new-since-last-visit {
            td:first-child {
                position: relative;
                padding-bottom: 15px;

                &::before {
                    display: block;
                    content: '▲ Nieuw sinds laatste bezoek';

                    color: $accent-color;
                    font-size: 10px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}

.sheet-edit-touch-list {
    margin-top: 2em;

    &__tag-list {
        margin-bottom: 0.5em;
        float: right;
    }

    &--is-new-since-last-visit {
        td:first-child {
            position: relative;
            padding-bottom: 15px;

            &::before {
                display: block;
                content: '▲ Nieuw sinds laatste bezoek';
                color: $accent-color;
                font-size: 10px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

    &__item {
        &--is-new-since-last-visit {
            float: right;
            color: $accent-color;
        }
    }
}

@keyframes saving-row {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes transient-row {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    50% {
        background-color: rgba(0, 0, 0, 255);
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

.mobile-sheet-summary {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

tr#sheet-offset td {
    font-size: 8pt;
    padding-bottom: 0.5em;
}

.table-sheet {
    .row-middle td {
        vertical-align: middle;
    }

    .btn-link {
        color: $body-color;
    }
}

tr#sheet-offset td + td {
    border-top: 1px dashed gray;
}

.budget-table {
    .negative {
        color: crimson;
    }
}
