.swipeable {
    position: relative;
    user-select: none;
    cursor: pointer;
    overflow: hidden;

    &__body {
        transform: translateX(0);
        background: inherit;

        &--is-settling {
            transition: transform 750ms ease;
        }
    }

    &__action {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        text-align: center;
        padding: 0.25rem 1.5rem;

        &,
        &:link,
        &:visited,
        &:hover,
        &:active {
            text-decoration: none;
            color: #fff;
        }

        &-left {
            left: 0;
        }

        &-right {
            right: 0;
        }

        &-icon {
            display: block;
            font-size: 20px;
        }

        &-label {
            display: block;
        }
    }
}
