<h1>Inloggen als andere gebruiker</h1>

<div ng-show="isLoaded">
    <p>
        Log in als andere gebruikers die jouw account vertrouwen.
    </p>

    <ul class="list-unstyled actionable-list">
        <li ng-repeat="user in users">
            <div class="pull-right">
                <span class="inline-block" tooltip="Inloggen als deze gebruiker">
                    <a class="btn btn-primary btn-sm"
                       ng-click="impersonateUser(user)">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </span>
            </div>

            <strong>
                <a href="#"
                   ng-click="impersonateUser(user)">{{user.userName}}</a>
            </strong> 

            <small>({{user.email}})</small>
        </li>
    </ul>
</div>

<div ng-hide="isLoaded" ng-include="'/Angular/Widgets/Loader.html'"></div>