<h1>Regeltemplates</h1>

<div ng-show="isLoaded">
    <p>
        Om maandelijks terugkerende uitgaven zoals vaste lasten bij te houden elke maand kan je regeltemplates aanmaken.
        Deze laten in elke maandelijke sheet zien welke verwachte uitgaven er nog op stapel staan. Uitgaven worden meegeteld
        tot de eerste inkomsten die gemaakt zijn om een betrouwbare indicatie te geven.
    </p>

    <ul class="list-unstyled actionable-list">
        <li ng-repeat="entry in entries">
            <div class="pull-right">
                <a class="btn btn-default btn-sm" ng-href="/manage/entry-template/edit/{{entry.id}}" tooltip="Bewerken">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>

                <button type="button" class="btn btn-default" ng-click="mutateSortOrder(entry, SortOrderMutation.Decrease)">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="mutateSortOrder(entry, SortOrderMutation.Increase)">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
                <a class="btn btn-danger btn-sm" 
                    tooltip="Regeltemplate verwijderen"
                    ng-click="deleteEntry(entry)">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>

            <strong>
                <a href="#"
                   ng-href="/manage/entry-template/edit/{{entry.id}}">{{entry.source}}</a>
            </strong> <br />

            <small>
                {{entry.account === AccountType.BankAccount ? 'Betaalrekening' : 'Spaarrekening'}}, categorie {{entry.categoryName}}.
            </small>
        </li>
    </ul>
    
    <p>
        <a href="/manage/entry-template/add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nieuwe regeltemplate</a>
    </p>
</div>

<div ng-hide="isLoaded" ng-include="'/Angular/Widgets/Loader.html'"></div>