<h1>Regeltemplates</h1>

<div ng-show="isLoaded">
    <p>
        Om maandelijks terugkerende uitgaven zoals vaste lasten bij te houden elke maand kan je regeltemplates aanmaken.
        Deze laten in elke maandelijke sheet zien welke verwachte uitgaven er nog op stapel staan.
    </p>

    <ul class="list-unstyled actionable-list">
        <li ng-repeat="entry in entries">
            <div class="pull-right">
                <a class="btn btn-default btn-sm" ng-href="/manage/entry-template/edit/{{entry.id}}" tooltip="Bewerken">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>

                <span class="inline-block" tooltip="Regeltemplate verwijderen">
                    <a class="btn btn-danger btn-sm"
                       ng-click="deleteEntry(entry)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </span>
            </div>

            <strong>
                <a href="#"
                   ng-href="/manage/entry-template/edit/{{entry.id}}">{{entry.source}}</a>
            </strong> <br />

            <small>
                {{entry.account === AccountType.BankAccount ? 'Betaalrekening' : 'Spaarrekening'}}, categorie {{entry.categoryName}}.
            </small>
        </li>
    </ul>
    
    <p>
        <a href="/manage/entry-template/add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nieuwe regeltemplate</a>
    </p>
</div>

<div ng-hide="isLoaded" ng-include="'/Angular/Widgets/Loader.html'"></div>