<form class="form-signin" role="form" novalidate>
    <h2 class="form-signin-heading">Inloggen</h2>

    <strong class="text-danger" ng-show="!!errorMessage">{{errorMessage}}</strong>

    <strong class="text-info" ng-show="!!wasLoggedOff">Je sessie is verlopen en je was uitgelogd. Log opnieuw hieronder in.</strong>

    <input type="text" class="form-control" placeholder="Gebruikersnaam"
           ng-disabled="isBusy" 
           ng-model="userName" 
           required autofocus>

    <input type="password" class="form-control" placeholder="Wachtwoord" 
           ng-disabled="isBusy" ng-model="password" 
           required>

    <label class="checkbox hidden">
        <input type="checkbox" value="remember-me" 
               ng-disabled="isBusy" ng-model="rememberMe"> Login onthouden
    </label>

    <button class="btn btn-lg btn-primary btn-block" 
            ng-disabled="isBusy"
            ng-click="login()">
        Inloggen
    </button>
    
    <small ng-show="isBusy">Bezig met inloggen...</small>
</form>
