.ng-hide {
    /* Shut up intellisense / R# */
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/**** Rotation animation */
@-webkit-keyframes loading-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-spinner {
    0% {-ms-transform: rotate(0deg);transform: rotate(0deg);}
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}



.rotate {
  -webkit-animation: loading-spinner 700ms linear infinite;
  -moz-animation:    loading-spinner 700ms linear infinite;
  -ms-animation:     loading-spinner 700ms linear infinite;
  -o-animation:      loading-spinner 700ms linear infinite;
  animation:         loading-spinner 700ms linear infinite;
}

/*** Required for AngularJS Bootstrap UI */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.inline-block {
    display: inline-block !important;
}

.validation-block {
    display: block;
    text-align: right;
    font-size: 9pt;
}

#app tr.row-middle td {
    vertical-align: middle;
}

span.negative, div.input-group.negative .form-control {
    color: red;
}

tr.saving {
    -ms-opacity: 0.6;
    opacity: 0.6;

    background-color: #EEE;

    color: #909090;
    color: rgba(000, 000, 000, 0.5);
}

.preserve-whitespace {
    white-space: pre-wrap;
}

.sheet-mobile-table tr td:first-child {
    width: 30%;
    padding-right: 2em;
    font-weight: bold;
}

.sheet-mobile-table tr td:last-child {
    padding-left: 2em;
    text-align: right;
}

.sheet-mobile-table {
    border-top: 2px solid #000;
    margin-bottom: 1em;
}

.sheet-mobile-table th div {
    text-align: center;
    vertical-align: middle;
    margin-right: 1em;
}

.mobile-sheet-summary {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

tr#sheet-offset td {
    font-size: 8pt;
    padding-bottom: 0.5em;
}

tr#sheet-offset td + td{
    border-top: 1px dashed gray;
}

.navbar-brand img {
    float: left;
    position: relative;
    top: -10px;
}

.scrollTo {
    display: none;
}

@media screen and (max-width: 700px) {
    h1 {
        text-align: center;
    }

    .scrollTo {
        display: none;
        width: 32px;
        height: 32px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        opacity: 0.5;
        cursor: pointer;
        background: url(../Icons/scroll_arrow_down.png) no-repeat;
    }

    .scrollTo.invert {
        background: url(../Icons/scroll_arrow_top.png) no-repeat;
    }

}

@media all and (min-width:768px) {
    .container {
        width: 100%;
    }
}

