body.authenticated {
    padding-top: 0;
}

.dashboard-action-primary {
    a {
        font-weight: bold;
        font-size: 120%;
    }
}
t
.btn-group + .panel {
    margin-top: 1em;
}

// Fix logged in message display on small screens
@media (max-width: map-get($container-max-widths, 'xs')) {
    .navbar .navbar-text {
        text-align: right;
        padding-right: 1em;
    }
}