body.authenticated {
    padding-top: 0;
}

.dashboard-action-primary {
    a {
        font-weight: bold;
        font-size: 120%;
    }
}

.btn-group + .panel {
    margin-top: 1em;
}

.logged-in-text {
    margin-right: 4em;
    font-size: 90%;
}

.page-loader {
    padding: 100px 0;

    .page-loader-spinner {
        animation: rotating 750ms linear infinite;
        font-size: 20px;
        vertical-align: middle;
        display: inline-block;
    }

    .page-loader-text {
        font-size: 18px;
        margin-left: 1em;

        vertical-align: middle;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.invalid-feedback-list {
    white-space: pre-line;
}

form[role=form] {
    .button-bar *:last-child::after {
        @extend .fas;
        @include fa-icon();
        content: $fa-var-circle-notch;
        animation: rotating 750ms linear infinite;
        color: $accent-color;
        margin-left: 2em;
        opacity: 0;
        transition: opacity 300ms linear;
    }

    &.is-busy .button-bar {
        *:last-child::after {
            opacity: 1;
        }
    }
}

.table-sheet-archive {
    td {
        border: none;
    }

    td.col-number {
        text-align: center;
    }
}

.balance-negative {
    @extend .text-danger;

    .bg-danger & {
        color: darken(crimson, 25%) !important;
    }
}



.btn-group-justified {
    display: flex; // inline-flex by default

    > .btn {
        flex: 1 1 auto;
    }
}

h1, h2, h3, h4 {
    small {
        opacity: 0.5;
        font-size: 60%;
    }
}

.roles-indicator {
    margin-left: 1em;
    color: $cyan;
    font-style: italic;
    font-size: 70%;

    &::before {
        content: '(';
    }

    &::after {
        content: ')';
    }
}

.dashboard-action-list {
    line-height: 2;
    list-style: none;
    padding-left: 0;
}

body.page-dashboard {
    .jumbotron {
        background: rgba($body-bg, 0.7);
        border-radius: 3px;
    }
}

$full-page-backgrounds: (
    about: about,
    dashboard: dashboard,
    impersonate: impersonate,
    logoff: logoff
);

@each $clazz, $bg in $full-page-backgrounds {
    body.page-#{$clazz} {
        @include full-page-background($bg);
    }
}