$navbar-top-border-width: 4px;
$modal-top-border-width: 4px;
$negative-color: darken(red, 10%);

/**** Rotation animation */
@keyframes loading-spinner {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
    transition: background-color 500ms linear;

    top-menu {
        transition: opacity 500ms linear;
    }
}

.modal-content {
    border-top: $navbar-top-border-width solid $accent-color;
}

.rotate {
    animation: loading-spinner 700ms linear infinite;
}

/*** Required for AngularJS Bootstrap UI */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.inline-block {
    display: inline-block !important;
}

.validation-block {
    display: block;
    text-align: right;
    font-size: 9pt;
}


span.negative, div.input-group.negative .form-control, div.negative .form-control {
    color: $negative-color;
}

.preserve-whitespace {
    white-space: pre-wrap;
}

.actionable-list {
    li {
        padding: 10px 2px;
    }
}

// Custom elements
top-menu, page-container, loading-bar {
    display: block;
}

top-menu {
    margin-bottom: 1rem;
}

.btn {
    cursor: pointer;
}

.btn {
    &.disabled, &[disabled] {
        cursor: not-allowed;
    }
}

.navbar-brand, .application-header {
    background: url(../images/icons/application.svg) 10px center no-repeat;
    background-size: contain;
    padding-left: 70px;
}

.input-money {
    background: url(../images/icons/currency-euro.png) 10px center / 1em no-repeat $input-bg;
    padding-left: 2em;
}

input[type=color].form-control {
    display: block;
    width: 150px;
    padding: 5px;
    height: 50px;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
