.nav-setup-wizard {
    margin: 20px 0;
}

html[data-app-setup-mode=true] body {
    background-color: $gray-900;
}

h1.setup-wizard {
    background: url(../images/icons/application.svg) 10px center no-repeat;
    background-size: contain;
    padding-left: 70px;
}

.setup-wizard-steps {
    .btn-primary {
        float: right;
    }

    pre {
        margin: 10px 0;
        padding: 20px;
        overflow: auto;
        max-height: 300px;
        border: 1px solid $black;
    }
    
    .error-panel {
        margin-bottom: 25px;
    }
}

pre {
    color: $gray-100;
}